<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Resturant SignUp Form</h1>
                    <h5>Get Free Membership</h5>
                    <hr>
                </div>
                <form [formGroup]="signupForm" (ngSubmit)="signUp()">
                    <div class="mb-3">
                        <label class="form-label">Name</label>
                        <input formControlName="name" type="text" placeholder="Enter Name Here" class="form-control"
                            id="exampleInputEmail1" aria-describedby="nameHelp">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Email address</label>
                        <input type="email" formControlName="email" placeholder="Enter Email Here" class="form-control"
                            id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Mobile Number</label>
                        <input type="number" formControlName="mobile" placeholder="Enter Contact Number"
                            class="form-control" id="exampleInputEmail1" aria-describedby="mobileHelp">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Password</label>
                        <input type="password" placeholder="Enter Password Here" formControlName="password"
                            class="form-control" id="exampleInputPassword1">
                    </div>
                    <button type="submit" class="btn btn-primary">Signup</button>
                </form>
                <a [routerLink]="['/login']" routerLinkActive="router-link-active">Already Member ? Click Here to Login
                    !!</a>
            </div>
        </div>
    </div>
</div>