<nav class="navbar navbar-light bg-primary">
    <div class="container-fluid">
        <h2>Resturant Record Application</h2>
        <div class="d-flex">
            <button (click)="clickAddResto()" type="button" class="btn btn-success" data-bs-toggle="modal" 
                data-bs-target="#exampleModal">Add
                Resturant</button>
                <button routerLink="/login" class="btn btn-danger mx-3">Log Out</button>
        </div>
    </div>
</nav>
<!-- Jumbotron -->
<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Resturant Records Management</h1>
        <p class="col-md-8 fs-4">You can save Records of Resturants using Angular 12</p>
        <a class="btn btn-primary btn-lg" target="_blank" type="button"
            href="https://www.zomato.com/restaurants-near-me">Resturants
            Near Me</a>
    </div>
</div>
<!-- Close Jumbotron -->

<!-- Table Display -->
<table class="table mt-4">
    <thead>
        <tr>
            <th scope="col">RESTURANT ID</th>
            <th scope="col">RESTURANT NAME</th>
            <th scope="col">RESTURANT EMAIL</th>
            <th scope="col">CONTACT NO</th>
            <th scope="col">ADDRESS</th>
            <th scope="col">SERVICES</th>
            <th scope="col">ACTIONS</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of allResturantData">
            <td>{{data.id}}</td>
            <td>{{data.name}}</td>
            <td>{{data.email}}</td>
            <td>{{data.mobile}}</td>
            <td>{{data.address}}</td>
            <td>{{data.services}}</td>

            <td>
                <button (click)="editResturant(data)"  data-bs-toggle="modal"
                    data-bs-target="#exampleModal" class="btn btn-info">Edit</button>&nbsp;
                <button (click)="deleteResturant(data)" class="btn btn-danger">Delete</button>
            </td>
        </tr>
    </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Resturant Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="formValue">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Name</label>
                        <input type="text" class="form-control" formControlName="name" placeholder="Resturant Name Here"
                            id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Email Id</label>
                        <input type="email" class="form-control" formControlName="email"
                            placeholder="Resturant Email Id" id="exampleInputPassword1">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Mobile</label>
                        <input type="number" class="form-control" formControlName="mobile"
                            placeholder="Resturant Contact No" id="exampleInputPassword1">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Address</label>
                        <input type="text" class="form-control" formControlName="address"
                            placeholder="Resturant Address" id="exampleInputPassword1">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Services</label>
                        <input type="text" class="form-control" formControlName="services"
                            placeholder="Resturant services like Chai,Coffee etc." id="exampleInputPassword1">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" (click)="formValue.reset()"
                    data-bs-dismiss="modal">Clear</button>
                <button type="button" *ngIf="showAddBtn" (click)="addResturant()" class="btn btn-primary">Add Details</button>
                <button type="button" *ngIf="showUpdateBtn" (click)="updateResturant()" class="btn btn-primary">Update Details</button>
            </div>
        </div>
    </div>
</div>